html,
body {
  margin: 0;
  padding: 10;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: 1px solid black;
}

.grid div {
  width: 15px;
  height: 15px;
  background-color: blue;
}
